<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="#" class="navbar-brand">ToDo!</a>
    <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/todo">Home</a>
            <a class="nav-item nav-link" style="cursor: pointer;" (click)="saveData()">Save</a>
            <a class="nav-item nav-link" style="cursor: pointer;" (click)="grabData()">Fetch</a>
            <a class="nav-item nav-link" routerLink="/auth">Login</a>
            <a class="nav-item nav-link" routerLink="/profile">Profile</a>
        </div>
    </div>
</nav>