<div class="row">
    <div class="col-12">
        
    </div>
</div>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row d-flex ">
                <div class="col-3">
                    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">Mark as done!
                </div>
                <div class="col-9">
                    <p class="m-0">To do item</p>
                </div>
            </div>
        </li>
      </ul>
</div>